.hero-container {
  background-size: cover;
  color: white;
  padding: 100px 0;
}

.navbar {
  background: rgba(0, 0, 0, 0.7);
  padding: 10px 20px;
  border-radius: 5px;
}

.navbar .ant-menu-item {
  font-size: 18px;
}

.container {
  background: rgba(0, 0, 0, 0.5);
  padding: 50px;
  border-radius: 10px;
}

.display-4 {
  font-weight: bold;
  font-size: 3.5rem;
}

.lead {
  font-size: 1.5rem;
  margin-bottom: 30px;
}

.search-bar {
  margin-top: 30px;
}

.search-bar .ant-input {
  border-radius: 5px;
}

.search-bar .ant-btn {
  border-radius: 5px;
}