.main{
    padding: 20px;

}

.sidebar{
    background-color: #005555;
    border-radius: 5px;
    box-shadow: 0 0 2px gray;
    margin-right: 20px;
    height: 100vh;
    padding: 10px;
    width: 40%; 
}
.content{
    width: 100%;
    height: 100%;
}
.header{
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 0 2px gray;
    margin-bottom: 20px;
    height: 10vh;
    
}
.body{
    background: white;
    border-radius: 5px;
    box-shadow: 0 0 2px gray;
    height: 87vh;
    width: 100%;

}
.menu{
    margin-top: 100px;
}
.menu-item {
    margin-top: 30px;
  }
  .menu-item a {
    color: rgba(255, 255, 255, 0.575);
    font-size: 18px;
    text-decoration: none;
  }
  .menu-item i{
    color: rgba(255, 255, 255, 0.497);
    font-size: 18px;
    text-decoration: none;
    margin: 0 15px;
  }
  .active-menu-item {
    color: white;
    background-color: #032e2e;
    padding: 5px;
    border-radius: 5px;
  }